<% layout('layouts/boilerplate') %>

<div class="" id="cluster-map"></div>
<div class="constainer">
  <h1>All Campground List</h1>
  <!-- create a <a href="campgrounds/newCamp">New camp</a><br /> -->
  <%- include("../partials/flash")%> <% for(let camp of camps) { %>
  <div class="card mb-3">
    <div class="row">
      <div class="col-md-6">
        <!-- <img crossorigin="anonymous" src="<%= camp.images[0].url %>" alt="" /> -->
        <%if(camp.images.length) {%>
        <img class="img-fluid" alt="" src="<%=camp.images[0].url%>" />
        <% }else {%>
        <img
          class="img-fluid"
          alt=""
          src="https://res.cloudinary.com/douqbebwk/image/upload/v1600103881/YelpCamp/lz8jjv2gyynjil7lswf4.png"
        />
        <% } %>
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <h5 class="card-title"><%= camp.title %></h5>
          <p class="card-text"><%= camp.description %></p>
          <p class="card-text">
            <small class="text-muted"><%= camp.location %></small>
          </p>
        </div>
        <a href="/campgrounds/<%=camp._id %>" class="btn btn-secondary mb-3">
          <%= camp.title %></a
        >
      </div>
    </div>
  </div>
  <% } %>
  <!-- <form action="/campgrounds?_method=DELETE" method="post">
  <button>delete</button>
</form> -->
  <div>back to <a href="home">Home page</a></div>
</div>

<!-- Map is off due to limited API request, turn it on in the future-->

<script>
  let mapToken = '<%- process.env.MAPBOX_TOKEN %>'
  let camps = { features: <%- JSON.stringify(camps)%>}
</script>

<script src="/javascripts/clusterMap.js"></script>
