<% layout('layouts/boilerplate') %>

<div class="container">
  <% if(camps.length === 0) { %>
  <h1 class="text-center">No campground Fund</h1>
  <% } %> <% for(let camp of camps) { %>
  <div class="card mb-3">
    <div class="row">
      <div class="col-md-6">
        <!-- <img crossorigin="anonymous" src="<%= camp.images[0].url %>" alt="" /> -->
        <%if(camp.images.length) {%>
        <img class="img-fluid" alt="" src="<%=camp.images[0].url%>" />
        <% }else {%>
        <!-- if there is no images in DB -->
        <img
          class="img-fluid"
          alt=""
          src="https://res.cloudinary.com/douqbebwk/image/upload/v1600103881/YelpCamp/lz8jjv2gyynjil7lswf4.png"
        />
        <% } %>
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <h5 class="card-title"><%= camp.title %></h5>
          <p class="card-text"><%= camp.description %></p>
          <p class="card-text">
            <small class="text-muted"><%= camp.location %></small>
          </p>
        </div>
        <a href="/campgrounds/<%=camp._id %>" class="btn btn-secondary mb-3">
          <%= camp.title %></a
        >
      </div>
    </div>
  </div>
  <% } %>
</div>
